<%- include('../include/header')  %>


<div class="container max-w-3xl px-4 mx-auto sm:px-8">

    <!-- This example requires Tailwind CSS v2.0+ -->
    <div id='modalforpaylist'  class="hidden fixed z-10 inset-0 overflow-y-auto" aria-labelledby="modal-title" role="dialog" aria-modal="true">
        <div class="flex items-end justify-center min-h-screen pt-4 px-4 pb-20 text-center sm:block sm:p-0">
            <!--
              Background overlay, show/hide based on modal state.

              Entering: "ease-out duration-300"
                From: "opacity-0"
                To: "opacity-100"
              Leaving: "ease-in duration-200"
                From: "opacity-100"
                To: "opacity-0"
            -->
            <div onclick='helloworld()' class="fixed inset-0 bg-gray-500 bg-opacity-75 transition-opacity" aria-hidden="true"></div>

            <!-- This element is to trick the browser into centering the modal contents. -->
            <span class="hidden sm:inline-block sm:align-middle sm:h-screen" aria-hidden="true">&#8203;</span>

            <!--
              Modal panel, show/hide based on modal state.

              Entering: "ease-out duration-300"
                From: "opacity-0 translate-y-4 sm:translate-y-0 sm:scale-95"
                To: "opacity-100 translate-y-0 sm:scale-100"
              Leaving: "ease-in duration-200"
                From: "opacity-100 translate-y-0 sm:scale-100"
                To: "opacity-0 translate-y-4 sm:translate-y-0 sm:scale-95"
            -->
            <div class="inline-block align-bottom bg-white rounded-lg px-4 pt-5 pb-4 text-left overflow-hidden shadow-xl transform transition-all sm:my-8 sm:align-middle sm:max-w-sm sm:w-full sm:p-6">
                <div id='paymentMethod'>
                    <form id="payment-form">
                        <div class='mb-3 border-2 border-green-500 p-3 rounded-md' id="card-element"><!--Stripe.js injects the Card Element--></div>
                        <button class='mx-auto text-gray-500 bg-transparent border border-solid border-teal-500 hover:bg-teal-500 shadow hover:shodow-md hover:text-gray-600 hover:border hover:border-green-500 active:bg-teal-600 font-bold uppercase text-sm px-6 py-3  rounded-full outline-none focus:outline-none mr-1 mb-1 ease-linear transition-all duration-150' id="submit">
                            <div class="spinner hidden" id="spinner"><svg width="20" height="20" fill="currentColor" class="mr-2 animate-spin" viewBox="0 0 1792 1792" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M526 1394q0 53-37.5 90.5t-90.5 37.5q-52 0-90-38t-38-90q0-53 37.5-90.5t90.5-37.5 90.5 37.5 37.5 90.5zm498 206q0 53-37.5 90.5t-90.5 37.5-90.5-37.5-37.5-90.5 37.5-90.5 90.5-37.5 90.5 37.5 37.5 90.5zm-704-704q0 53-37.5 90.5t-90.5 37.5-90.5-37.5-37.5-90.5 37.5-90.5 90.5-37.5 90.5 37.5 37.5 90.5zm1202 498q0 52-38 90t-90 38q-53 0-90.5-37.5t-37.5-90.5 37.5-90.5 90.5-37.5 90.5 37.5 37.5 90.5zm-964-996q0 66-47 113t-113 47-113-47-47-113 47-113 113-47 113 47 47 113zm1170 498q0 53-37.5 90.5t-90.5 37.5-90.5-37.5-37.5-90.5 37.5-90.5 90.5-37.5 90.5 37.5 37.5 90.5zm-640-704q0 80-56 136t-136 56-136-56-56-136 56-136 136-56 136 56 56 136zm530 206q0 93-66 158.5t-158 65.5q-93 0-158.5-65.5t-65.5-158.5q0-92 65.5-158t158.5-66q92 0 158 66t66 158z">
                                    </path>
                                </svg></div>
                            <span id="button-text">Pay now</span>
                        </button>
                        <p id="card-error" role="alert"></p>
                    </form>
                </div>

                <div class='hidden result-message'>
                    <div>
                        <div class="mx-auto flex items-center justify-center h-12 w-12 rounded-full bg-green-100">
                            <!-- Heroicon name: outline/check -->
                            <svg class="h-6 w-6 text-green-600" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true">
                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7" />
                            </svg>
                        </div>
                        <div class="mt-3 text-center sm:mt-5">
                            <h3 class="text-lg leading-6 font-medium text-gray-900" id="modal-title">
                                Payment successful
                            </h3>
                            <div class="mt-2">
                                <p class="text-sm text-gray-500">
                                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequatur amet labore.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="mt-5 sm:mt-6">
                        <button type="button" class="inline-flex justify-center w-full rounded-md border border-transparent shadow-sm px-4 py-2 bg-indigo-600 text-base font-medium text-white hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500 sm:text-sm">
                            Go back to dashboard
                        </button>
                    </div>
                </div>

            </div>
        </div>
    </div>



    <div class="py-8">
        <div class="flex flex-row justify-between w-full mb-1 sm:mb-0">
            <h2 class="text-2xl leading-tight">
                Users
            </h2>
            <div class="text-end">
                <form class="flex w-full max-w-sm space-x-3">
                    <div class="relative ">
                        <input type="text" id="&quot;form-subscribe-Filter" class="flex-1 w-full px-4 py-2 text-base text-gray-700 placeholder-gray-400 bg-white border border-transparent border-gray-300 rounded-lg shadow-sm appearance-none focus:outline-none focus:ring-2 focus:ring-purple-600 focus:border-transparent" placeholder="name"/>
                    </div>
                    <button class="flex-shrink-0 px-4 py-2 text-base font-semibold text-white bg-purple-600 rounded-lg shadow-md hover:bg-purple-700 focus:outline-none focus:ring-2 focus:ring-purple-500 focus:ring-offset-2 focus:ring-offset-purple-200" type="submit">
                        Filter
                    </button>
                </form>
            </div>
        </div>
        <div class="px-4 py-4 -mx-4 overflow-x-auto sm:-mx-8 sm:px-8">
            <div class="inline-block min-w-full overflow-hidden rounded-lg shadow">
                <table class="min-w-full leading-normal">
                    <thead>
                    <tr>
                        <th scope="col" class="px-5 py-3 text-sm font-normal text-left text-gray-800 uppercase bg-white border-b border-gray-200">
                            User
                        </th>
                        <th scope="col" class="px-5 py-3 text-sm font-normal text-left text-gray-800 uppercase bg-white border-b border-gray-200">
                            Quantity
                        </th>
                        <th scope="col" class="px-5 py-3 text-sm font-normal text-left text-gray-800 uppercase bg-white border-b border-gray-200">
                            Price
                        </th>
                        <th scope="col" class="px-5 py-3 text-sm font-normal text-left text-gray-800 uppercase bg-white border-b border-gray-200">
                            view
                        </th>
                        <th scope="col" class="px-5 py-3 text-sm font-normal text-left text-gray-800 uppercase bg-white border-b border-gray-200">
                        Remove
                        </th>
                    </tr>
                    </thead>
                    <tbody>
                    <% if (data.products.length) { %>
                        <% for( let index = 0; index < data.products.length; index++ ) { %>
                    <tr>
                        <td class="px-5 py-5 text-sm bg-white border-b border-gray-200">
                            <div class="flex items-center">
                                <div class="flex-shrink-0">
                                    <a href="#" class="relative block">
                                        <img alt="profil" src="/images/person/8.jpg" class="object-cover w-10 h-10 mx-auto rounded-full "/>
                                    </a>
                                </div>
                                <div class="ml-3">
                                    <p class="text-gray-900 whitespace-no-wrap">
                                        <%= data.products[index].productId.title %>
                                    </p>
                                </div>
                            </div>
                        </td>
                        <td class="px-5 py-5 text-sm bg-white border-b border-gray-200">
                            <div class=''>
                                <input type="number" id="rounded-email" class=" rounded-lg border-transparent flex-1 appearance-none border border-gray-300 w-full py-2 px-4 bg-white text-gray-700 placeholder-gray-400 shadow-sm text-base focus:outline-none focus:ring-2 focus:ring-purple-600 focus:border-transparent" value='<%= data.products[index].quantity %>'/>
                            </div>

                        </td>
                        <td class="px-5 py-5 text-sm bg-white border-b border-gray-200">
                            <p class="text-gray-900 whitespace-no-wrap">
                                <%= data.products[index].productId.price *  data.products[index].quantity %>
                            </p>
                        </td>
                        <td class="px-5 py-5 text-sm bg-white border-b border-gray-200">
                                    <span class="relative inline-block px-3 py-1 font-semibold leading-tight text-green-900">
                                        <span aria-hidden="true" class="absolute inset-0 bg-green-200 rounded-full opacity-50">
                                        </span>
                                        <span class="relative">
                                            <a href=''><?xml version="1.0" encoding="UTF-8"?>
                                                <svg class='w-5' enable-background="new 0 0 496.158 496.158" version="1.1" viewBox="0 0 496.16 496.16" xml:space="preserve" xmlns="http://www.w3.org/2000/svg">
                                                <path d="m0 248.08c0-137.02 111.07-248.08 248.08-248.08 137.01 0 248.08 111.06 248.08 248.08 0 137-111.07 248.07-248.08 248.07-137.01 0-248.08-111.07-248.08-248.07z" fill="#25B7D3"/>
                                                <g fill="#fff">
	                                            <path d="m394.46 151.31-49.615-49.614c-10.727-10.728-28.119-10.726-38.844 0l-76.631 76.63c-10.726 10.728-10.727 28.119-1e-3 38.847l49.615 49.614c10.727 10.727 28.119 10.726 38.845-2e-3l76.631-76.63c10.725-10.725 10.726-28.118 0-38.845zm-81.873 84.114c-6.289 6.288-16.484 6.289-22.772 1e-3l-29.084-29.084c-6.288-6.288-6.287-16.483 1e-3 -22.772l50.511-50.511c6.287-6.287 16.482-6.288 22.771 0l29.084 29.085c6.288 6.287 6.287 16.482 0 22.77l-50.511 50.511z"/>
	                                            <path d="m266.79 278.99-49.614-49.614c-10.727-10.727-28.119-10.726-38.845 0l-76.631 76.632c-10.726 10.726-10.727 28.118 0 38.844l49.615 49.615c10.726 10.727 28.119 10.725 38.844 0l76.632-76.633c10.724-10.725 10.726-28.117-1e-3 -38.844zm-81.874 84.114c-6.288 6.288-16.482 6.29-22.771 1e-3l-29.084-29.084c-6.289-6.288-6.288-16.483 0-22.771l50.512-50.512c6.287-6.287 16.482-6.288 22.771 0l29.084 29.084c6.288 6.289 6.287 16.484 0 22.771l-50.512 50.511z"/>
                                                </g>
                                                <path d="m306.91 191.67-2.42-2.421c-7.742-7.743-20.34-7.743-28.083 0l-87.151 87.151c-7.742 7.742-7.742 20.34 0 28.082l2.42 2.421c7.742 7.741 20.34 7.741 28.083 0l87.151-87.152c7.742-7.741 7.742-20.34 0-28.081z" fill="#48A1AF"/>
                                                <path d="m215.4 302.55c-5.348 5.348-14.02 5.349-19.368 1e-3l-2.421-2.421c-5.348-5.348-5.348-14.02 0-19.367l87.152-87.152c5.348-5.349 14.019-5.348 19.368 2e-3l2.42 2.42c5.347 5.348 5.349 14.019 0 19.366l-87.151 87.151z" fill="#fff"/>
                                                </svg>
                                                </a>
                                        </span>
                                    </span>
                        </td>
                        <td class="px-5 py-5 text-sm bg-white border-b border-gray-200">
                            <a href="/removecart/<%= data.products[index]._id %>" class="text-indigo-600 hover:text-indigo-900">
                                <?xml version="1.0" encoding="UTF-8"?>
                                <!DOCTYPE svg  PUBLIC '-//W3C//DTD SVG 1.1//EN'  'http://www.w3.org/Graphics/SVG/1.1/DTD/svg11.dtd'>
                                <svg class='w-5' enable-background="new 0 0 488.936 488.936" version="1.1" viewBox="0 0 488.94 488.94" xml:space="preserve" xmlns="http://www.w3.org/2000/svg">
		<path d="m381.16 111.95h-273.78c-6.468 0-12.667 2.819-17.171 7.457-4.504 4.649-6.934 11.014-6.738 17.477l9.323 307.69c0.39 12.92 10.972 23.312 23.903 23.312h20.136v-21.012c0-24.121 19.368-44.049 43.488-44.049h127.9c24.131 0 43.893 19.928 43.893 44.049v21.012h19.73c12.933 0 23.52-10.346 23.913-23.268l9.314-307.7c0.195-6.462-2.234-12.863-6.738-17.513-4.504-4.636-10.691-7.455-17.165-7.455z"/>
                                    <path d="m309.17 435.36h-127.9c-6.163 0-11.915 4.383-11.915 11.516v30.969c0 6.672 5.342 11.096 11.915 11.096h127.9c6.323 0 11.366-4.773 11.366-11.096v-30.969c0-6.31-5.043-11.516-11.366-11.516z"/>
                                    <path d="m427.7 27.106c0-14.968-12.133-27.106-27.105-27.106h-312.25c-14.972 0-27.105 12.138-27.105 27.106v30.946c0 14.973 12.133 27.106 27.105 27.106h312.25c14.973 0 27.105-12.133 27.105-27.106l1e-3 -30.946z"/>
</svg>
                            </a>
                        </td>
                    </tr>
                        <% } %>
                    <% } %>
                    </tbody>
                </table>
                <div class="flex flex-col items-center px-5 py-5 bg-white xs:flex-row xs:justify-between">
                    <div class="flex items-center">
                        <button type="button" class="w-full p-4 text-base text-gray-600 bg-white border rounded-l-xl hover:bg-gray-100">
                            <svg width="9" fill="currentColor" height="8" class="" viewBox="0 0 1792 1792" xmlns="http://www.w3.org/2000/svg">
                                <path d="M1427 301l-531 531 531 531q19 19 19 45t-19 45l-166 166q-19 19-45 19t-45-19l-742-742q-19-19-19-45t19-45l742-742q19-19 45-19t45 19l166 166q19 19 19 45t-19 45z">
                                </path>
                            </svg>
                        </button>
                        <button type="button" class="w-full px-4 py-2 text-base text-indigo-500 bg-white border-t border-b hover:bg-gray-100 ">
                            1
                        </button>
                        <button type="button" class="w-full px-4 py-2 text-base text-gray-600 bg-white border hover:bg-gray-100">
                            2
                        </button>
                        <button type="button" class="w-full px-4 py-2 text-base text-gray-600 bg-white border-t border-b hover:bg-gray-100">
                            3
                        </button>
                        <button type="button" class="w-full px-4 py-2 text-base text-gray-600 bg-white border hover:bg-gray-100">
                            4
                        </button>
                        <button type="button" class="w-full p-4 text-base text-gray-600 bg-white border-t border-b border-r rounded-r-xl hover:bg-gray-100">
                            <svg width="9" fill="currentColor" height="8" class="" viewBox="0 0 1792 1792" xmlns="http://www.w3.org/2000/svg">
                                <path d="M1363 877l-742 742q-19 19-45 19t-45-19l-166-166q-19-19-19-45t19-45l531-531-531-531q-19-19-19-45t19-45l166-166q19-19 45-19t45 19l742 742q19 19 19 45t-19 45z">
                                </path>
                            </svg>
                        </button>
                    </div>

                </div>
                <button type="button" class="w-full px-6 py-4 text-base font-semibold text-center text-white mb-3 transition duration-200 ease-in bg-green-600 rounded-full shadow-md hover:bg-blue-700 focus:ring-blue-500 focus:ring-offset-blue-200 focus:outline-none focus:ring-2 focus:ring-offset-2">
                    update
                </button>
                <button onclick='clickedOnThePaymentButton()' type="button" id='checkout-button' class="w-full px-6 py-4 text-base font-semibold text-center text-white transition duration-200 ease-in bg-blue-600 rounded-full shadow-md hover:bg-blue-700 focus:ring-blue-500 focus:ring-offset-blue-200 focus:outline-none focus:ring-2 focus:ring-offset-2">
                    PayNow
                </button>
            </div>
        </div>
    </div>
</div>
<script src="https://js.stripe.com/v3/"></script>
<script src="https://polyfill.io/v3/polyfill.min.js?version=3.52.1&features=fetch"></script>
<script src="/js/client.js" defer></script>

